<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <h5>Email: <%= @order.email %></h5>
    <h5>Total: <%= humanized_money_with_symbol @order.total_cents %></h5>

    <table class="table table-bordered">
      <thead>
        <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Qty</th>
        <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr><%= render "order"%></tr>
      </tbody>
    </table>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
