<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>

        <%= form_for :review, url: "/products/#{@product.id}/reviews" do |form| %>
          <li>Rating:<%= form.select :rating, options_for_select(["1", "2", "3","4","5"]) %></li>
          <li>Leave a review:<%= form.text_area :description %></li>
          <%= form.submit "Submit" %>
        <% end %>
        <h5>Rating</h5>
        <% @product.reviews.reverse.each do |review| %>
          <ul>
            Rating: <%= review.rating%>
            <br>
            Comments: <%= review.description%>
          </ul>
        <% end%>
      </div>
    </div>

  </article>

</section>
